body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
}

#add {
    text-align: center;
    margin-bottom: 20px;
}

input {
    padding: 8px;
}

button {
    margin: 2px;
    padding: 5px 8px;
}

li {
    background: white;
    margin: 10px auto;
    padding: 15px;
    width: 420px;
    border-radius: 8px;
    list-style: none;
}
